# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Vite
.vite/

# Editor
.vscode/
.idea/
